.header-buttons {
	display: flex;
	width: 610px;
	align-items: center;
	gap: 10px;
}

.header-button {
	height: 48px;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: #ffffff;
	padding: 0px 20px 0px 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
	filter: drop-shadow(1px 1px 1px #84d52c);
}
.header-button:hover {
	cursor: pointer;
}

.header-button::before {
	content: '';
	background-image: url(../../images/plant.svg);
	background-size: 20px 20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.active {
	background-color: #171722;
	box-shadow: 0px 0px 10px 1px #84d52c;
}

.inactive {
	background-color: #353542;
}

.header-button-image {
	width: 20px;
	height: 20px;
	padding-right: 10px;
}
.header-checkbox {
	display: none;
}
